Makefile
doxygen

*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.gch
*.jar
*.log
*.log
*.old
*.out
*.pdf
*.pyc
*.swp
*.synctex.gz
*.toc
.DS_Store
.\#*
._*
._.DS_Store
*~
.~*
Thumbs.db
\#*
__MACOSX
backup/*
result
tags
~$*
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
**/bin/*

